@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-size-1 { @apply font-bold text-5xl; }
    .text-size-2 { @apply font-bold text-4xl; }
    .text-size-3 { @apply font-bold text-3xl; }
    .text-size-4 { @apply font-bold text-2xl; }
    .text-size-5 { @apply font-bold text-xl; }
    .text-size-6 { @apply font-bold text-lg; }
    .text-size-7 { @apply font-bold text-base; }
    .text-size-8 { @apply font-bold text-sm; }
    .text-size-9 { @apply font-medium text-xs; }
    .transitions { @apply transition-colors ease-in-out duration-[1000ms]; }
    .transitions-all { @apply transition-all ease-in-out duration-300; }
}

html {
    --scrollbar-color-track: rgb(var(--colour-secondary));
    --scrollbar-color-thumb: rgb(var(--colour-accent));

    @supports (scrollbar-width: auto) {
        scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
    }
    @supports selector(::-webkit-scrollbar) {
        .-webkit-scrollbar-thumb {
            background: var(--scrollbar-color-thumb);
        }

        .-webkit-scrollbar-track {
            background: var(--scrollbar-color-track);
        }
    }
}
