@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .cu-transition {
        @apply transition ease-in-out duration-300;
    }
}

html {
    --scrollbar-color-track: rgb(var(--theme-secondary));
    --scrollbar-color-thumb: rgb(var(--theme-accent));

    @supports (scrollbar-width: auto) {
        scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
    }
    @supports selector(::-webkit-scrollbar) {
        .-webkit-scrollbar-thumb {
            background: var(--scrollbar-color-thumb);
        }

        .-webkit-scrollbar-track {
            background: var(--scrollbar-color-track);
        }
    }
}
